 <div class="row">
    <div class="col-sm-6 col-md-4">
        <holder [ip]="'127.0.0.1'" [type]="'Visitor'" [image]="'assets/img/avatars/pp.jpeg'" [DeleteButton]=false ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [ip]="'127.0.0.1'" [type]="'Visitor'" [image]="'assets/img/avatars/pp.jpeg'" [DeleteButton]=false  ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [ip]="'127.0.0.1'" [type]="'Visitor'" [image]="'assets/img/avatars/pp.jpeg'" [DeleteButton]=false ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [ip]="'127.0.0.1'" [type]="'Visitor'" [image]="'assets/img/avatars/pp.jpeg'" [DeleteButton]=false  ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [ip]="'127.0.0.1'" [type]="'Visitor'" [image]="'assets/img/avatars/pp.jpeg'" [DeleteButton]=false  ></holder>
    </div>
 
 </div>