<div class="animated fadeIn">
  <div class="row">
    <div class="">
      <div class="card"> 
        <div class="card-body">
        <img src="{{image}}"  alt="admin@bootstrapmaster.com"/>
          <div class="info">
            <h3>{{category}}</h3>  
            <p>{{Descritpion}}<p>
          </div>
         <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i class="icon-pencil"></i> Ok</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="icon-trash"></i> Cancel</button>  
        </div>
        </div>
      </div>
    </div>
</div>