 <div class="row">
    <div class="col-sm-6 col-md-4">
        <holder [UserName]="'mahmodkamal'" [email]="'mahmodkamal167@gmail.com'" [ip]="'127.0.0.1'" [type]="'User'" [image]="'assets/img/avatars/pp.jpeg'" ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [UserName]="'mahmodkamal'" [email]="'mahmodkamal167@gmail.com'" [ip]="'127.0.0.1'" [type]="'User'" [image]="'assets/img/avatars/pp.jpeg'" ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [UserName]="'mahmodkamal'" [email]="'mahmodkamal167@gmail.com'" [ip]="'127.0.0.1'" [type]="'User'" [image]="'assets/img/avatars/pp.jpeg'" ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [UserName]="'mahmodkamal'" [email]="'mahmodkamal167@gmail.com'" [ip]="'127.0.0.1'" [type]="'User'" [image]="'assets/img/avatars/pp.jpeg'" ></holder>
    </div>
    <div class="col-sm-6 col-md-4">
        <holder [UserName]="'mahmodkamal'" [email]="'mahmodkamal167@gmail.com'" [ip]="'127.0.0.1'" [type]="'User'" [image]="'assets/img/avatars/pp.jpeg'" ></holder>
    </div>
 
 </div>